{
  "extends": [
    "airbnb",
    "plugin:jest/recommended"
  ],
  "env": {
    "browser": false,
    "es6": true,
    "node": true
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "rules": {
    "react/jsx-filename-extension": [
      1, {
        "extensions": [".js"]
      }
    ],
    "react/prop-types": 0,
  }
}